<!-- app/views/recipes/new.html.erb -->
<h1 class="text-center py-4">Add New Recipe</h1>

<%= form_for @recipe do |f| %>
  <div class="form-group mt-3">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group mt-3">
    <%= f.label :preparation_time %>
    <%= f.text_field :preparation_time, class: "form-control" %>
  </div>

  <div class="form-group mt-3">
    <%= f.label :cooking_time %>
    <%= f.text_field :cooking_time, class: "form-control" %>
  </div>

  <div class="form-group mt-3">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group form-check">
    <%= f.check_box :public, class: "form-check-input" %>
    <%= f.label :public, class: "form-check-label" %>
  </div>

  <div class="actions">
    <%= f.submit "Add Recipe", class: "btn btn-primary mt-3 mb-3" %>
  </div>
<% end %>

